/* Reset some basic elements */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}

/* Header and Navigation Styles */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Ensure this is set */
    width: 100%; /* Ensure full width */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column; /* Change to row on larger screens */
    align-items: center;
    justify-content: center; /* Add this line */
    width: auto; /* Adjust width to fit content */
    margin: 0 auto; /* Center the ul within the nav */
    margin-left: -20px; /* Move the ul 10 pixels to the left */
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.logo {
    max-width: 100px;
}

/* Main content styles */
main {
    margin-top: 20px;
}

#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rotating-image {
    max-width: 100%;
    margin: 10px;
    display: block; /* Change to none; using JS to display images */
    opacity: 1; /* Ensure images are fully visible by default */
}

#team article {
    margin-bottom: 20px;
}

#team img {
    max-width: 100%;
    height: auto;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
}

/* Responsive Design */
@media (min-width: 768px) {
    .logo {
        max-width: 150px;
    }

    nav ul {
        padding: 30px;
        flex-direction: row;
        justify-content: center; /* Ensure this remains set */
    }

    nav ul li {
        margin-left: 30px;
    }

    #gallery {
        justify-content: space-around;
    }

    #team article {
        display: flex;
        align-items: center;
    }

    #team img {
        max-width: 50%;
    }

    #team h2, #team p {
        margin-left: 20px;
    }
}

@media (min-width: 1024px) {
    body {
        max-width: 960px;
        margin: auto;
    }

    header {
        flex-direction: row;
    }

    nav ul {
        flex-direction: row;
    }
}
 
.team-member img {
    width: 400px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    object-fit: cover; /* This ensures the aspect ratio is maintained without distorting the image */
}
.testimonial {
    display: flex;
    align-items: center; /* This ensures that the items are vertically centered */
    justify-content: space-between; /* This adds space between the video and the text */
    gap: 20px; /* This adds some space between the video and the text */
}

.testimonial video {
    flex: 1; /* Allows the video to grow and take up available space */
    width: 300px; /* Set your desired width */
    height: 200px; /* Set your desired height */
}

.testimonial p {
    flex: 2; /* Allows the text to take up twice as much space as the video */
}
